<h1>Editing service oder</h1>

<%= render "form", service_oder: @service_oder %>

<br>

<div>
  <%= link_to "Show this service oder", @service_oder %> |
  <%= link_to "Back to service oders", service_oders_path %>
</div>
